
.inner {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav-main {
    overflow: auto;
    line-height: 49px;
}

.header-nav-main .header-logo {
    padding: 0 9px;
    float: left;
}

.header-menu-list {
    float: right;
}

.header-menu-list ul li {
    padding: 11px 19px;
}

.header-nav-secondary {
    overflow: auto;
    line-height: 45px;
}
.header-nav-secondary .nav-secondary-txt {
    float: left;
}

.header-nav-secondary .nav-secondary-link {
    float: right;
}

.body-main-content {
    background: #f3f3f3;
}

.center-body-wrapper {
    background: #eaeaea;
}

.end-body-wrapper {
    background: #f3f3f3;
}

.main-footer-wrapper {
    background: #76c7c1;
}

.footer-end-wrapper {
    background: #6bb4ad;
}