.header-nav-main {
    background: #76c7c1;  
}

.header-nav-main a {
    text-decoration: none;
}

.header-menu-list ul li {
    list-style: none;
    display: inline;
}

.header-menu-list ul li a {
    color: white;
}

.header-nav-secondary {
    background: #ececec;
}

.nav-secondary-link > ul li{
    list-style: none;
    display: inline;
}

.nav-secondary-link  a{
    text-decoration: none;
    color: black;
}